<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gvsig.gvsigmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_gvsig_appname"
        android:supportsRtl="true"
        android:theme="@style/GeopapTheme"
        tools:replace="android:theme,android:label">
        <activity
            android:name=".MainGvsigMobileActivity"
            android:label="@string/my_gvsig_appname"
            android:launchMode="singleTop"
            android:theme="@style/GeopapTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>